{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-8 offset-md-2">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h1>What is this?</h1>
        <p>A bunch of tasks to try out in the Terminal. The end-goal is being able to make changes to this website you're on right now.</p>
      </li>
      <li class="list-group-item">
        <h3>What order should I do them in?</h3>
        <p>I tried to write these questions so that you could do them in just about any order, but it'll help to at least do the foundations before other categories. Maybe that's wrong though, click around and do the ones that seem fun. However, you should know that I wrote them pretty much in the order they appear <a href="/ls">on the list page</a>. So as far as there's any implicit "preferred-order" that's it for sure</p>
      </li>
      <li class="list-group-item">
        <h3>What's the deal with the extra details?</h3>
        <p>I don't know, there's a lot of possible details I want to cram into each of these questions. I've tried to make the main bodies as clear and formulaic and straightforward as possible. But I'm not going to let that get in the way of a good time. The extra details may include different things to try, error cases to look at or manual pages to read. Plus whatever else was on my mind and I didn't filter out.</p>
      </li>
      <li class="list-group-item">
        <h3>Where's the source code?</h3>
        <p>On GitHub, under an immature username. <a href="https://github.com/fourhundredtwenty/slidesite">https://github.com/fourhundredtwenty/slidesite</a> I initially imagined this as a set of slides you could vote up or down. Name's stuck 'til it's not.</p>
      </li>
      <li class="list-group-item">
        <h3>Is this going to be irrelevant in 18 months?</h3>
        <p>Maybe! I hope not though. These questions should cover Linux basics that have been the same for 20+ years. I just want a free digital resource at small-scale.</p>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
