{% extends "base.html" %}

{% block head %}
    <script>
      var question = {{ question.__dict__|tojson }};
    </script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-2">
    <span class="badge badge-info">{{question.category}}</span>
  </div>
  <div class="shadow-sm card col-md-8" style="margin-top:1rem">
    <div class="card-body">
      <div class="row">
	<div class="col-md-8">
	  <h5 class="card-title">{{question.title}}</h5>
	</div>
      </div>
      <p class="card-text">{{question.content|safe}}</p>
      {% if prev_exists %}
      <a href="/{{question.q_id - 1}}" class="btn btn-outline-dark">
	<span class="oi oi-chevron-left"></span>
      </a>
      {% endif %}
      <a href="#star" class="btn btn-outline-primary question-response"><span class="oi oi-star"></span></a>
      <a href="#wtf" class="btn btn-outline-warning question-response">wtf?</a>
      <a href="/" class="btn btn-outline-dark">
	<span class="oi oi-random"></span>
      </a>
      {% if next_exists %}
      <a href="/{{question.q_id + 1}}" class="btn btn-outline-dark">
	<span class="oi oi-chevron-right"></span>
      </a>
      {% endif %}
    </div>
  </div>
</div>
<div class="row" style="margin-bottom: 1rem;">
  <div class="col-md-8 offset-md-2" style="margin-top:1rem">
    <a class="btn btn-info" data-toggle="collapse" href="#more-info" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">extra details and things to try...</a>
  </div>
</div>
<div class="row" style="margin-bottom: 1rem">
  <div id="more-info" class="collapse card col-md-8 offset-md-2" style="margin-top:1rem">
  <style>
    :scope table{
      border-collapse: collapse;
      border-style: hidden;
    }

    :scope th,td {
	border:1px solid #999;
    }
  </style>
    <div class="card-body">
      <ul class="list-group list-group-flush">
	{% for help in question.answers %}
	<li class="list-group-item">{{help|safe}}</li>
	{% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
