{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block content %}
{% for category, questions in questions_by_category.items() %}
<div class="card shadow-sm" style="margin-top: 1rem">
  <div class="card-body">
    <h5 class="card-title">{{category}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{questions.0.subtitle}}</h6>
    <div class="row">
      <div class="col-md-8 offset-md-2" style="margin-top:1rem">
        <ul id="question-list" style="list-style-type: none">
          {% for question in questions %}
          <li data-question-id="{{question.q_id}}">
            <span class="question-icon oi oi-eye" style="color: #ccc"></span>
            <a href="/{{question.q_id}}"> {{question.title}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
  </div>
</div>
</div>
{% endfor%}



{% endblock %}
